
/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');


body,h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

.button {
  text-decoration: none;
}

.button:hover {
  background-color: #d3e9f8;
}


/* colors */
.light-blue {
  background-color: #d3e9f8;
}

.light-green {
  background-color: #d7f4d7;
}

.light-orange {
  background-color: #ffe4cc;
}

.light-purple {
  background-color: #e6dcef;
}

.light-red {
  background-color: #f7d4d4;
}

.light-grey {
  background-color: #e6e6e6;
}


/* tables */
.bordered {
  border: 1px solid #ccc;
  border-radius: 8px;
}

th {
  font-weight: 600;
}

th:first-of-type {
  border-top-left-radius: 7px;
}
th:last-of-type {
  border-top-right-radius: 7px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 7px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 7px;
}


/* utils */
.off {
  display: none;
}

.fit-width {
  margin: auto;
  max-width: 1000px;
}


/* font weights */
.light {
  font-weight: 300;
}

.medium-weight {
  font-weight: 500;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

/* header */
#header-img {
  height: 30px;
  padding-right: 10px;
}

#header-span {
  line-height: 50px;
}


/* loading spinner */
/* to use: .addClass('spinner')  (position=relative) */
@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: rgb(0, 88, 221);
    border-bottom-color: rgb(0, 88, 221);
    animation: spinner .8s ease infinite;
  }