<!DOCTYPE html>
<html>

<head>
    <title>Fantasy Forecaster</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../static/images/icon.png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <script src="../../static/utils.js"></script>
</head>



<body>

    <!-- HEADER -->
    <a href="../../index.html">
        <div class="w3-container w3-black w3-padding">
            <div class="w3-center fit-width">
                <h1 class="w3-xxlarge">Fantasy Forecaster</h1>
            </div>
        </div>
    </a>


    <!-- CONTENT -->
    <div class="w3-container w3-center fit-width">

        <br>
        <h2 class="w3-center">{{ league_name }}</h2>

        <p class="w3-center">Week {{ week }} Report</p>
        <br>


        <!-- Standings -->
        <h3 class="w3-center">Standings</h3>
        <div class="w3-container fit-width" style="max-width: 450px;">
            <table class="w3-table w3-border sortable">
                <tbody>
                    <tr class="w3-border-bottom light-blue">
                        {% for h in standings_table.columns %}
                        <th>{{ h }}</th>
                        {% endfor %}
                    </tr>
                    {% for r in standings_table.iloc %}
                    <tr>
                        {% for x in r %}
                        <td class="w3-padding-small">{{ x }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br><br>


        <!-- Upcoming Games -->
        <h3 class="w3-center">Upcoming Games</h3>
        <div class="w3-container fit-width" style="max-width: 350px;">
            <table class="w3-table w3-border">
                <tbody>
                    <tr class="w3-border-bottom light-green">
                        {% for h in upcoming_games_table.columns %}
                        <th class="w3-center">{{ h }}</th>
                        {% endfor %}
                    </tr>
                    {% for r in upcoming_games_table.iloc %}
                    <tr>
                        {% for x in r %}
                        <td class="w3-center w3-padding-small">{{ x }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="w3-small">
                Importance is based on impact to playoff odds
            </p>
        </div>
        <br><br>


        <!-- Playoff Odds -->
        <h3 class="w3-center">Playoff Odds</h3>
        <div class="w3-container fit-width" style="max-width: 500px;">
            {{ playoff_odds_plot | safe }}
        </div>
        <br>

        <!-- Championship Odds -->
        <h3 class="w3-center">Championship Odds</h3>
        <div class="w3-container fit-width" style="max-width: 500px;">
            {{ championship_odds_plot | safe }}
        </div>
        <br>

        <!-- Punishment Odds -->
        <h3 class="w3-center">Punishment Odds</h3>
        <div class="w3-container fit-width" style="max-width: 500px;">
            {{ punishment_odds_plot | safe }}
        </div>
        <br><br>


        <!-- Projected Final Standings -->
        <h3 class="w3-center">Projected Final Standings</h3>
        <div class="w3-container fit-width" style="max-width: 200px;">
            <ul class="w3-ul">
                {% for t in expected_final_list %}
                <li class="w3-padding-small">{{ t }}</li>
                {% endfor %}
            </ul>
        </div>
        <br><br>

        <!-- Expected Wins -->
        <h3 class="w3-center">Expected vs Actual Wins</h3>
        <div class="w3-container fit-width" style="max-width: 450px;">
            <table class="w3-table w3-border sortable">
                <tbody>
                    <tr class="w3-border-bottom light-red">
                        {% for h in expected_wins_table.columns %}
                        <th>{{ h }}</th>
                        {% endfor %}
                    </tr>
                    {% for r in expected_wins_table.iloc %}
                    <tr>
                        {% for x in r %}
                        <td class="w3-padding-small">{{ x }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="w3-small">Shows expected number of wins if the schedule was re-randomized</p>
        </div>
        <br><br>

        <!-- Strengh of Schedule -->
        <h3 class="w3-center">Strength of Schedule</h3>
        <div class="w3-container fit-width" style="max-width: 450px;">
            <table class="w3-table w3-border sortable">
                <tbody>
                    <tr class="w3-border-bottom light-purple">
                        {% for h in sos_table.columns %}
                        <th>{{ h }}</th>
                        {% endfor %}
                    </tr>
                    {% for r in sos_table.iloc %}
                    <tr>
                        {% for x in r %}
                        <td class="w3-padding-small">{{ x }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="w3-small">
                Shows average points against and expected points against for the
                remainder of the season
            </p>
        </div>
        <br><br>

        <!-- Betting Lines -->
        <h3 class="w3-center">Betting Lines</h3>
        <div class="w3-container fit-width" style="max-width: 350px;">
            <table class="w3-table w3-border">
                <tbody>
                    <tr class="w3-border-bottom light-orange">
                        {% for h in betting_lines_table.columns %}
                        <th class="w3-center">{{ h }}</th>
                        {% endfor %}
                    </tr>
                    {% for r in betting_lines_table.iloc %}
                    <tr>
                        {% for x in r %}
                        <td class="w3-center w3-padding-small">{{ x }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br><br>


        <!-- Playoff Odds Over Time -->
        <h3 class="w3-center">Playoff Odds Over Time</h3>
        <div class="w3-container fit-width" style="max-width: 700px;">
            {{ playoff_time_plot | safe }}
        </div>
        <br><br>

        <!-- Championship Odds Over Time -->
        <h3 class="w3-center">Championship Odds Over Time</h3>
        <div class="w3-container fit-width" style="max-width: 700px;">
            {{ championship_time_plot | safe }}
        </div>
        <br><br>

        <!-- Punishment Odds Over Time -->
        <h3 class="w3-center">Punishment Odds Over Time</h3>
        <div class="w3-container fit-width" style="max-width: 700px;">
            {{ punishment_time_plot | safe }}
        </div>
        <br><br>

    </div>


    <!-- FOOTER -->
    <footer class="w3-center w3-container w3-small w3-black" style="margin-top: 64px;">
        <p>
            Created by Jack Arnold |
            <a href="https://github.com/jackarnold84/fantasy-forecaster">GitHub</a>
        </p>
    </footer>


</body>



<!-- SCRIPTS -->
<script>


</script>


</html>